
{% assign t = site.data.settings.TEXTS %}

{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    {{ t.less-than-a-minute[page.lang] }}
  {% elsif words < 360 %}
    {{ t.one-minute-read[page.lang] }}
  {% else %}
    {{ words | divided_by:180 }} {{ t.minutes-to-read[page.lang] }}
  {% endif %}
{% endif %}
{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    {{ t.less-than-a-minute[page.lang] }}
  {% elsif words < 360 %}
    {{ t.one-minute-read[page.lang] }}
  {% else %}
    {{ words | divided_by:180 }} {{ t.minutes-to-read[page.lang] }}
  {% endif %}
{% endif %}
