/* Default (light) theme variable values */
:root {
  --theme-color: #505050;
  --theme-background: #FFFFFF;
  --theme-title-color: #333;
  --theme-title-highlight-color: #000;
  --theme-dropdown-bg-color: #f9f9f9;
  --theme-shadow-color: #00000033;
}

/* Overwrite for dark theme */
[data-theme="dark"] {
  --theme-color: #888;
  --theme-background: #222222;
  --theme-title-color: #AAA;
  --theme-title-highlight-color: #CCC;
  --theme-dropdown-bg-color: #a9a9a9;
  --theme-shadow-color: #000;
}

/* Site structure */
body {
  color: var(--theme-color);
  background-color: var(--theme-background);
  width: 100%;
}
.container {
  display: grid;
  grid-template-areas: ". main-header secondary-header" ". content ." ". footer .";
  grid-template-columns: max-content 615px max-content;
}
.header {
  grid-area: main-header;
  margin-bottom: 2rem;
}
.secondary-menu {
  grid-area: secondary-header;
}
.content-container {
  grid-area: content;
}
.footer {
  grid-area: footer;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--theme-title-color);
}
h1 {
  line-height: normal;
}
h2 {
  margin-top: 50px;
}
h3 {
  margin-top: 30px;  
}
h2 a {
  text-decoration: none;
}
a, .header a {
  color: var(--theme-title-color);
}
a:hover, .header a:hover {
  color: var(--theme-title-highlight-color);
}


/* Language Selector */

button.language-selector {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 8px 0;
}

nav.language-selector {
    position: relative;
    display: inline-block;
}

div.dropdown {
    display: none;
    position: absolute;
    background-color: var(--theme-dropdown-bg-color);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px var(--theme-shadow-color);
    z-index: 1;
}

div.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

div.dropdown a:hover {background-color: #f1f1f1}

nav.language-selector:hover .dropdown {
    display: block;
}

nav.language-selector:hover button.language-selector {
    background-color: black;
}

/* Theme selector */
.theme-selector i {
  vertical-align: middle;
  font-size: 32px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 31px;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000000;
}
input:focus + .slider {
  box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* posts */
p.intro {
  font-weight: 600;
}
p.jmr-next-in-series {
  color: #fe6a00;
  margin: 100px 0;
}

img[src*='#center'] {
  display: block;
  margin: auto;
  width: 50%;
}

img + em {
  display: block;
  text-align: center;
  text-emphasis-style: open;
}

/* Tech stack */
div.technologies-list {
  display: grid;
  grid-template-columns: 140px auto;
}
div.tech-img {
  padding: 20px;
}
div.tech-content {
  margin-left: 20px;
}

/* Code snipptes */
pre {
  overflow-x: scroll;
  white-space: pre;
}
.highlighter-rouge .highlight  .err {
  /* Fixes a weird error on characters like - or / */
  background-color: unset;
}

/* Tech-Map */
div.all-techs {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 10px;
}
div.all-techs div.tech {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  position: relative;
}
div.all-techs div.tech:hover{
  background-color: rgba(128, 128, 128, 0.5);
}
div.all-techs p.uihint {
  color: white;
  text-decoration: none;
  font-family: 'Quattrocento Sans', sans-serif;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
}
div.all-techs div.tech img {
  height: 100px;
  width: 150px;
  object-fit: scale-down;
}
div.all-techs div.tech p {
  margin: 0;
}

/* Tech-Map search */
var.tech-info {
  display: none;
}

/* Contact page */
div.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}
div.contact-content :first-child {
  margin-top: 0;
}
.grid-container .full-width {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*
   CONFIGURABLE PER POST
*/

/* Thumbnail Configuration */
.thumbnail-container img.no-crop{
  margin: 0;
}


@media (max-width: 30em) {
  div.all-techs {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-areas: "main-header secondary-header" "content content" "footer footer";
    grid-template-columns: auto 90px;
  }
  .secondary-menu {
    margin-top: 30px;
  }
  .content-container {
    width: 90vw;
  }
}
